
<div class="calculator">
    <div class="calculator__input">{{expression}}</div>
    <div class="calculator__buttons" (click)="onClick($event.target)">
      <div class="calculator__buttons__operators">
        <div class="calculator_btn calculator__buttons__operators__btn">+</div>
        <div class="calculator_btn calculator__buttons__operators__btn">-</div>
        <div class="calculator_btn calculator__buttons__operators__btn">&times;</div>
        <div class="calculator_btn calculator__buttons__operators__btn">&divide;</div>
      </div>
      <div class="calculator__buttons__operators">
        <div class="calculator__buttons__operators__btn">sin</div>
        <div class="calculator__buttons__operators__btn">cos</div>
        <div class="calculator__buttons__operators__btn">tan</div>
        <div class="calculator__buttons__operators__btn">2</div>
      </div>
      <div class="calculator__buttons__main">
        <div class="calculator__buttons__main__numbers">
            <div class="calculator_btn calculator__buttons__main__numbers__nb">7</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">8</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">9</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">4</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">5</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">6</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">1</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">2</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">3</div>
            <div class="calculator__buttons__main__numbers__nb random">Rand</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb">0</div>
            <div class="calculator_btn calculator__buttons__main__numbers__nb" id="clear">C</div>
        </div>
        <div class="calculator_btn calculator__buttons__main__equal" id="result">=</div>
      </div>
    </div>
  </div>
